.body {
    max-width: 1440px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}


/*text stuff*/

    .h1 {
        font-family: 'Actor';
        font-size: 24px;
    }
    .h2 {
        font-size: 84px;
        font-family: 'Poppins';
    }
    .p {
        font-family: 'Source Sans Pro';
        font-size: 22px;
    }
    .a {
        color: white;
        text-decoration: none;
        font-family: 'Source Sans Pro';
        font-size: 16px;
    }


/*sizing*/

    .main {
        /*internal*/
        color: white;

        /*margins*/
        margin-left: 144px;
        margin-right: 144px;
        margin-top: 60px;
        margin-bottom: 60px;

        /*size*/
        width: 100%;
        max-width: 1440px;

        /*layout*/
        display: flex;
        justify-content: space-between;

    }

    .submain--one {
        max-width: 435px;
        width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        max-width: 435px;
        width: 100%;
        margin-bottom: 185px;
    }

    .nav {
        max-width: 267px;
        width: 100%;
    }

    .title {
        margin-bottom: 44px;
    }

    .a {
        margin-right: 30px;
    }

    .submain--two {
        background-size: cover;
        background-image: url(../images/musician\ big.png);
        width: 585px;
        height: 690px;
    }

@media screen and (max-width: 768px) {

    /*text stuff*/

    .h1 {
        font-family: 'Actor';
        font-size: 24px;
    }
    .h2 {
        font-size: 72px;
        font-family: 'Poppins';
    }
    .p {
        font-family: 'Source Sans Pro';
        font-size: 22px;
        text-align: center;
    }
    .a {
        color: white;
        text-decoration: none;
        font-family: 'Source Sans Pro';
        font-size: 16px;
    }

    /*sizing*/

    .body {
        max-width: 768px;
        width: 100%;
    }

    .main {
        /*internal*/
        color: white;

        /*margins*/
        margin-left: 75px;
        margin-right: 75px;
        margin-top: 34px;
        margin-bottom: 34px;

        /*size*/
        width: 100%;
        max-width: 768px;

        /*layout*/
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .submain--one {
        max-width: 617px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        max-width: 617px;
        width: 100%;
        margin-bottom: 185px;
    }

    .nav {
        max-width: 301px;
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .title {
        margin-bottom: 23px;
    }

    .p {
        margin-bottom: 40px;
        max-width: 573px;
        width: 100%;
    }

    .a {
        margin-left: 30px;
    }

    .submain--two {
        background-size: cover;
        background-image: url(../images/musician\ medium.png);
        width: 617px;
        height: 512px;
    }



}

@media screen and (max-width: 320px) {
 
    .body {
        max-width: 320px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
    }
    
    
    /*text stuff*/
    
        .h1 {
            font-family: 'Actor';
            font-size: 24px;
        }
        .h2 {
            font-size: 36px;
            font-family: 'Poppins';
        }
        .p {
            font-family: 'Source Sans Pro';
            font-size: 12px;
        }
        .a {
            color: white;
            text-decoration: none;
            font-family: 'Source Sans Pro';
            font-size: 22px;
        }
    
    
    /*sizing*/
    
        .main {
            /*internal*/
            color: white;
    
            /*margins*/
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 11px;
            margin-bottom: 11px;
    
            /*size*/
            width: 100%;
            max-width: 320px;
    
            /*layout*/
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        .submain--one {
            max-width: 378px;
            width: 100%;
        }
    
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            max-width: 378px;
            width: 100%;
            margin-bottom: 103px;
        }
    
        .nav {
            display: none;
            max-width: 267px;
            width: 100%;
        }
    
        .title {
            margin-bottom: 15px;
        }
    
        .submain--two {
            background-size: cover;
            background-image: url(../images/musician\ big.png);
            width: 256px;
            height: 284px;
        }
    

}